.header {
  line-height: 40px;
  position: sticky;
  z-index: 999 !important;
  top: 0;
  //height: 40px;
  text-transform: uppercase;
  color: white;
  background: lighten(#000000, 20%);
}

.active {
  color: green;
}

.locked {
  color: red;
}

.hCell {
  text-align: center;
  border-right: 1px solid gray;
  transition: 150ms;
}

.fixedCol {
  position: sticky !important;
  z-index: 99 !important;
  left: 0;
  transition: 150ms;

}

.fixedColHeader {
  position: sticky;
  z-index: 99;
  left: 0;
  background: lighten(#000000, 20%);
}

.cell {
  line-height: 40px;
  overflow: hidden;
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.invisible {
  display: none;
}
